body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD92A;
    color: black;

}


.colorBlock {
    background-color: #FFD92A;
    z-index: -50;
    display: block;
    height: 3vh;
    width: 100vw;
    position: fixed;
    top: 0;
    margin: 0;
    padding: none;
}

.heroKick {
    left: 0%;
    top: -60vh;
    height: 50vh;
    position: absolute;
   

}

.rowContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 0;
}
.block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.geoBlock {
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    animation: zoomIn 1s ease;
    height: 320px;
    width: 350px;
}
div.blueHover:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.hoverReveal:hover {
    display: none;
}


.gif {
  
    z-index: -100;
   
    height: 320px;
    width: 350px;
}


.R2:hover {
    
}



.L1 {
    background-image: url(../images/Box\ L-1.svg);
  
}

.C1 {
    background-image: url(../images/Box\ C-1.svg);
    
}
.R1 {
    background-image: url(../images/Box\ R-1.svg);
  
}
.L2 {
    background-image: url(../images/Box\ L-2.svg);
}
.C2 {
    background-image: url(../images/Box\ C-2.svg);
   
}
.R2 {
    background-image: url(../images/Box\ R-2.svg);
}
.L3 {
    background-image: url(../images/Box\ L-3.svg);
}
.C3 {
    background-image: url(../images/Box\ C-3.svg);
}
.R3 {
    background-image: url(../images/Box\ R-3.svg);
}


 /* @keyframes zoomIn {
    from {
        width: 0vw;
      }
      20% {
        width: 4vw;
      }
      40% {
        width: 8vw;
      }
      60% {
        width: 12vw;
      }
      80% {
        width: 16vw;
      }
      to {
        width: 20vw;
      }
    } */

h2 {
    text-align: right;
    margin-top: 10%;
    margin-left: 40%;
}

br {
    height: 1px;
}

.leftBox {
    
    margin-right: 20%;
    padding: 1%;
}
.centerBox {
    margin-right: 28%;
    padding: 1%;
}
.rightBox {
    margin-right: 30%;
    padding: 1%;
}
.row1 {
    margin-top: 35%;
}
.row3 {
    margin-top: 12%;
}


.name {
    font-weight: bolder;
    font-size: 150px;
}
.nat {
    float: left;
    margin-left: 9%;
    margin-top: 1%;
}
.hig {
    float: right;
    margin-right: 9%;
}
.nameContainer {
    display: flex;
    flex-direction: column;
}
#hi {
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 8px;
}
#abc {
    letter-spacing: 5px;
    font-weight: 200;
    position: relative;
    margin-left: 69%;
    margin-top: 4%;
    font-size: 15px;

}
.expand {
    width: 1500px;

    height: 1500px;
    margin-left: 5%;
}
.expandBlock {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
    cursor: pointer;
    width: 70%;
    z-index: 1000;
    height: 100vh;
    position: absolute;
}

.gifUnleashed {
 visibility: visible;

}